* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    font-family: "Encode Sans Expanded", Tahoma, sans-serif;
    font-size: 150%;
    margin: 0;
}

h1 {
	text-align: center;
  color: #5D2234;
}

#byline {
	text-align: center; 
  font-size: 1em;
}

#lead {
  font-size: .8em;
}

.credit {
  font-size: .8em;
}

#instructions{
  font-size:.65em;
  color: #5D2234;
}

#git{
  font-size: .8em;
}

#fall1 {
  max-width: 100%;
  max-height: 100%;
}

#fall4 {
  max-width: 100%;
  max-height: 100%;
}

#fall5 {
  max-width: 100%;
  max-height: 100%;
}

#fall6 {
  max-width: 100%;
  max-height: 100%;
}

article {
  background-color: #E8B864;
  margin-left: 65px;
  margin-right: 65px;
  padding: 30px;
}
a {
  color: #5D2234;
}

a:hover {
  color: #CC5963;
}
